<!DOCTYPE html>
<html>

<head>
  <title>成都市交通信息港工程人员外出信息管理系统后台管理--人员踪迹</title>
  <meta charset="utf-8">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/resources/ext4.2/resources/css/ext-all.css' />
  <link rel='stylesheet' href='/resources/ext4.2/resources/css/icon.css' />
  <script src='/resources/ext4.2/bootstrap.js'></script>
  <script src='/resources/ext4.2/locale/ext-lang-zh_CN.js'></script>
  <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css" />
  <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
  <script src="http://webapi.amap.com/maps?v=1.4.3&key=ef6539c984012551c9c2d947d087f9d4"></script>

  <script src='/javascripts/route.js'></script>
  <style>
    /* -------------------------------------- */

    ol {
      counter-reset: li;
      list-style: none;
      *list-style: decimal;
      font: 15px 'trebuchet MS', 'lucida sans';
      padding: 0;
      margin-bottom: 4em;
      text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    }

    ol ol {
      margin: 0 0 0 2em;
    }

    /* -------------------------------------- */

    .rectangle-list a {
      position: relative;
      display: block;
      padding: .4em .4em .4em .8em;
      *padding: .4em;
      margin: .5em 0 .5em 2.5em;
      background: #d9e7f8;
      color: rgb(0, 0, 0);
      text-decoration: none;
      -webkit-transition: all .3s ease-out;
      -moz-transition: all .3s ease-out;
      -ms-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      transition: all .3s ease-out;
    }

    .rectangle-list a:hover {
      background: #eee;
      cursor: pointer;
    }

    .rectangle-list a:before {
      content: counter(li);
      counter-increment: li;
      position: absolute;
      left: -2.5em;
      top: 50%;
      margin-top: -1em;
      background: #bcd7f8;
      height: 2em;
      width: 2em;
      line-height: 2em;
      text-align: center;
      font-weight: bold;
    }

    .rectangle-list a:after {
      position: absolute;
      content: '';
      border: .5em solid transparent;
      left: -1em;
      top: 50%;
      margin-top: -.5em;
      -webkit-transition: all .3s ease-out;
      -moz-transition: all .3s ease-out;
      -ms-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      transition: all .3s ease-out;
    }

    .rectangle-list a:hover:after {
      left: -.5em;
      border-left-color: #72a2fa;
    }

    /* -------------------------------------- */
  </style>
  <script>
    Ext.Loader.setConfig({
      enabled: true,
      paths: {
        'ux': '/javascripts/ux'
      }
    });
  </script>
</head>

<body>
  <div style="margin-left:210px" id="container"></div>
  <script>

    var map = new AMap.Map('container', {
      center: [104.067967, 30.60614],
      zoom: 13
    });
    map.plugin(["AMap.ToolBar"], function () {
      map.addControl(new AMap.ToolBar());
    });
  </script>
</body>


</html>